body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("/images/dark_hero_s.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

a {
  color: #006ee4;
}

/* fix color contrast issue with Bootstrap */
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.6);
}

/* add text shadow to page titles to resolve color contrast against background image */
#content {
  text-shadow: 0px 0px 10px black;
}

#subtitle {
  text-shadow: 0px 0px 10px black;
}